
/*
* INDEX CSS
*
*   1. Default Styles
*   2. Header
*   3. Page Intro & Register
*       3.1 Form Access
*       3.2 Form Register
*       3.3 Section Error
*   4. Home Page
*   
*   10. Footer
*   11. Media Querys
*/

/* 1. DEFAULT STYLES */
*, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    max-width: 1500px;
    margin: 0 auto;
}
.page{
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: default;
}
h1, h2, h3, h4, h5{
    
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h1{
    color: white;
    letter-spacing: 0.05em;
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
h2{
    color: #232930;
    font-weight: 900;
    font-size: 24px;
    clear: both;
}
h3,h4,h5{
    color: #232930;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 700;
}
span.blanco{
    color: white;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
}
h2::after {content: " "; border-bottom: solid 1px #232930; display: block; width: 2em; margin: 0.6em auto auto auto;}
a{
    font-family: 'Raleway', sans-serif;
    color: #232930;
    text-decoration: none !important; 
}
button{
    background-color: #55AE60 !important;
    border: 1px solid #55AE60 !important;
}
button:hover{
    background-color: #7BDA86 !important;
    border: 1px solid #7BDA86 !important;
}
.nomargin, .row{
    margin: 0px;
}
.nopadding{
    padding: 0px;
}
.btn-goplace{
  color: #fff !important; 
  background-color: #009688;
  border-color: #009688;
}
.btn-goplace:hover{
  color: #fff;
  background-color: #00AD9D;
  border-color: #00AD9D;
}
main{
    width: 100%;
    height: 100%;
}


/* 2. HEADER */
header{
    width: 100%;
    height: 14%;
    background-color: #009688;
}

.logo{
    margin: 10% 0 0 30%;
    cursor: pointer;
}

.logoRegistro, .cabecera{
    width: 100%;
    margin: 2% 0 1% 0;
    text-align: center;
}


/* 3. PAGE INTRO & REGISTER*/
.principal{
    padding: 5% 20% 5% 20%;
    background: url('../images/vlc.png') fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pageRegister{
    width: 100%;
    height: 100%;
    background-color: #20B2AA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
}
.register{
    margin-bottom: 30px;
}

/* 3.1 FORMULARIO ACCESO */
.formuser, .formpass{
    margin-top: 5%;
    margin-right: 5px;
    float: left;
}

.input-access, .input-register{
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    background-color: rgb(236, 236, 236);
    color: #000;
    font-family: 'Raleway';
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-remember{
    font-size: 13px;
    font-weight: 600;
}
.form-remember span{
    padding-top: 4px;
    float: right;
    padding-right: 20px; 
}
.formbutton, .returnbutton{
    padding: 0px;
    height: 34px;
    float: left;
}

/* 3.2 FORM REGISTER */
.registro{
    margin-top: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.youarenew *{
    color: #55AE60;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;   
    text-shadow: none !important;
    text-transform: uppercase;
}
.youarenew span{
    color: #2e6da4;
    font-size: 24px !important;
}

/* 3.3 SECTION ERROR */
.titulo, .descubre_text{
    text-align: center !important;
    width: 100%;
}
.contenido{
    width: 100%;
    margin: 0 auto;
}
.contenido *{
    margin-top: 40px;
    float: none !important;
}
.contenido form *, .return_gp{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.contenido span a{
    color: white;
    font-size: 80%;
}
.principal span{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    text-shadow: 3px 3px 3px black;
}


/* 4. HOME PAGE */
#principalpag{
    background: url('../images/background_index.jpg') fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* padding: 0 5% 10% 5%; */
}
.logoMain{
    width: 100%;
    margin: 2% 0 0.5% 0;
    text-align: center;
}
.posder{
    margin-left: 50%;
}
.actived{
    background-color: #eee;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 4px;
}
.fotoPerfil{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-top: 10px;
    border: 10px solid gray;
    border-bottom: 20px solid gray;
}
.foto{
    width: 100%;
    height: 100%;
}
.perfilMain{
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}
.publicacion{
    height: 250px;
    background-color: white;
    padding: 150px 0 0 0;
    margin: 5px 0 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    text-align: center;
}
.publicacion>span{
    color: black;
    font-size: 14px;
    text-shadow: none;
}
.publicacion .nick{
    color: #00994C;
    font-size: 12px;
    font-weight: 700;
    text-shadow: none;
    margin-left: 5px;
}
.publicacion h4{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
}
.publicacion span{
    color: black;
    font-size: 14px;
    text-shadow: none;
    margin: 0;
}
.fotoPub{
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

.panel-heading{
    background-color: #337ab7;
    border-color: #2e6da4; 
}

.panel-heading h1, .modal-header h1{
    color: #009688;
}

/* NEW */
.evento1, .evento3, .evento5, .evento7, .evento9{
    background: url('../images/eventos/vlc.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.evento2, .evento4, .evento6, .evento8, .evento10{
    background: url('../images/eventos/vlc2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contentpub{
    background: rgba(255,255,255,0.8);
    padding: 10px;
}
.usuariopub{
    margin-top: 10px;
}
.usuariopub a{
    font-weight: 900;
}

/* PERFIL */

.perfilGoPlace, .content_pefil{
    background: #fff;
}
.perfilGoPlace *{
    color: black;
}
.cabeceraPerfil{
    max-height: 300px;
    overflow: hidden;
}
.cabeceraPerfil img{
    padding: 0;
}

.perfilgp, .comentariosgp, .eventosgp{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}
.comentariosgp, .eventosgp{
    margin-top: 15px;
    background: #ADE0BA;
    border: 1px solid #009688;
    border-radius: 1em;
}
.perfil_desc h1{
    font-size: 24px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding: 0;
}
.perfil_desc p{
    font-size: 16px;
}
.perfil_desc span.nick{
    font-size: 18px;
    font-weight: 900;
    padding: 3px;
    color: #009688;
}
.perfil_photo, .perfilgp, .perfilGoPlace h2{
    text-align: center;
}
.perfil_photo{
    /*top: -80px;*/
}
.boton_perfil a{
    width: 100%;
}


.comentario, .evento_perfil{
    border: 2px solid #ADE0BA;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin: 5px 0;
}
.comentario:hover, .evento_perfil:hover{
    border: 2px solid #009688;
}
.desc_comentario{
    padding-right: 0;
}
.comentario p.perfil_coment, .id_comentario{
    font-size: 16px;
    font-weight: 900;
}
.id_comentario, .evento_perfil h4, .evento_perfil h4 a{
    color: #009688;
}
.comentario a.event_coment, .evento_perfil span{
    font-size: 12px;
    font-weight: 900;
}
.comentario a.event_coment{
    float: right;
    
}
.foto_comentario{
   padding: 0; 
}
.fotoComent{
    width: 100%;
}

/* DESCUBRE */
.eventos_ciudad{
    background: white;
}

/* FOOTER */
footer{
    width: 100%;
    height: 14%;
    text-align: center;
    background-color: white;
}
.cr{
    letter-spacing: 0.05em;
    font-weight: 900;
    top: 100px;
}
.help{
    padding: 2% 0 1% 0;
}

/* MODAL */
.modal-open .modal{
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-dialog{
    float: right;
    margin-top: 0;
    width: 500px;
}
.modal-content{
    background-color: #009688;
}
.modal-header{
    display: none;
}
.modal-body h3{
    color: white;
}
.modal-body h5{
    color: white;
    font-size: 10px;
}


/* MEDIA QUERYS */
@media (min-width: 992px){
	
    .regizq, .regder{
        padding: 0 !important;
        padding-left: 5px !important;
    }
    
    .botonreg{
        float: right;
    }
}