/*
* INDEX CSS
* ---------
*
*   1. Default Styles
*   2. Header
*   3. Page Intro & Register
*       3.1 Form Access
*       3.2 Form Register
*       3.3 Section Error
*   4. Home Page
*   
*   10. Footer
*   11. Media Querys
*/

/* 1. DEFAULT STYLES */
*, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    max-width: 1500px;
    margin: 0 auto;
    background: url('/images/background_goplace_body.jpg') fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page{
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: default;
}
h1, h1 a{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase !important;
    
}
h2, h4, h5, h2 a, h4 a, h5 a{
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase !important;
}

h1{
    color: white;
    letter-spacing: 0.05em;
    font-size: 36px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
#principalpag h1{
    color: #3C3939;
    text-align: center;
}
h2{
    color: #024E31;;
    font-weight: 900;
    font-size: 24px;
    clear: both;
}
h3, h4{
    font-size: 18px;  
}
h5{
    font-size: 16px;
}
h3,h4,h5{
    color: #393939;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
}
span.blanco{
    color: white;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
}

a{
    font-family: 'Raleway', sans-serif;
    color: #232930;
    text-decoration: none !important; 
}
a:hover, a:focus {
  color: #17643B;
  text-decoration: underline;
}
.nav-tabs>li {
  margin-bottom: -1px;
  float: none;
  display: inline-block;
}
button{
    background-color: #55AE60;
    border: 1px solid #55AE60;
}
button:hover{
    background-color: #7BDA86;
    border: 1px solid #7BDA86;
}
.nomargin, .row{
    margin: 0px;
}
.nopadding{
    padding: 0px;
}
.btn-goplace{
  color: #fff !important; 
  background-color: #009688;
  border-color: #009688;
}
.btn-goplace:hover{
  color: #fff;
  background-color: #00AD9D;
  border-color: #00AD9D;
}
main{
    width: 100%;
    height: 100%;
}
.form-control {
    height: 28px;
    padding: 10px 10px;
    font-size: 11px;
    line-height: 1.32857143;
    color: #3C3939;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.form-horizontal .control-label {
  text-align: left !important;
  margin: 10px 0 !important;
}

.principalpag, .perfilGoPlace, #perfilEvento, .eventos_default, .principalpag .panel-body{
    background: #f5f5f5;
}

/* 2. HEADER */
header{
    width: 100%;
    height: 14%;
    background-color: #135431;
    background-color: #2EA666;
    background-color: #237C4C;
    border-bottom: 5px solid #1A5A38;
}

.logo{
    margin: 10% 0 0 30%;
    cursor: pointer;
}

.logoRegistro, .cabecera{
    width: 100%;
    margin: 2% 0 1% 0;
    text-align: center;
}


/* 3. PAGE INTRO & REGISTER*/
.principal{
    padding: 5% 20% 5% 20%;
    background: url('../images/vlc.png') fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.principal h1{
    color: white;
    letter-spacing: 0.05em;
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
.pageRegister{
    width: 100%;
    height: 100%;
    background-color: #20B2AA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
}
.register{
    margin-bottom: 30px;
}

/* 3.1 FORMULARIO ACCESO */
.formuser, .formpass{
    margin-top: 5%;
    margin-right: 5px;
    float: left;
}

.input-access, .input-register{
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    background-color: rgb(236, 236, 236);
    color: #000;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-remember{
    font-size: 13px;
    font-weight: 600;
}
.form-remember span{
    padding-top: 4px;
    float: right;
    padding-right: 20px; 
}
.formbutton, .returnbutton{
    padding: 0px;
    height: 34px;
    float: left;
}

/* 3.2 FORM REGISTER */
.registro{
    margin-top: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.youarenew *{
    color: #55AE60;
    font-size: 20px;
    text-align: center;   
    text-shadow: none !important;
    text-transform: uppercase;
}
.youarenew span{
    color: #2e6da4;
    font-size: 24px !important;
}

/* 3.3 SECTION ERROR */
.titulo, .descubre_text{
    text-align: center !important;
    width: 100%;
}
.contenido{
    width: 100%;
    margin: 0 auto;
}
.contenido *{
    margin-top: 40px;
    float: none !important;
}
.contenido form *, .return_gp{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.contenido span a{
    color: white;
    font-size: 80%;
}
.principal span{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    text-shadow: 3px 3px 3px black;
}


/* 4. HOME PAGE */
#principalpag{
    background: #E8E8E8;
    padding: 0px 0px 30px 0px !important;
}

/* 4.1 Header */
.logoMain{
    /*width: 100%;*/
    margin: 30px 0 30px 0;
    text-align: center;
}
.logoMain{
    height: 30px;
}
header .nav-tabs{
    border: 0px !important;
    margin: 30px 0 30px 0;
}
header .nav-tabs>li>a {
    color: #C2C2C2;
    font-size: 14px;
    text-shadow: 1px 1px 2px #000000;
    border: 0px;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
header .nav-tabs>li>a:focus, header .nav-tabs>li>a:hover, header .nav-tabs>li>a:active{
    color: #FFFFFF;
    border: 0px;
    background: none;
    border-bottom: 3px solid #013722;
    margin-bottom: -3px;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
.posder{
    margin-left: 50%;
}
.actived{
    background-color: #eee;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 4px;
}

/* 4.2 Principal */
.title_intro{
    margin: 40px 0;
}
.eventos_main_content{
    padding: 20px;
    background: white;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-bottom: 5px solid #024E31;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
    box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
}
.perfil_home *{
    color: #3C3939;
}
.perfil_home .login_home{
    color: #009D61;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.datos_home .events_home{padding: 0px;}
.datos_home .events_home h5{
    color: #3C3939;
    margin-top: 30px;
    padding: 3px;
    cursor: pointer;
    letter-spacing: 0em; 
    font-size: 12px !important;
    font-weight: 300;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
.datos_home .events_home h5:hover {
    color: white;
    background: #024E31;
    border-radius: 2px;
    margin-top: 30px;
    cursor: pointer;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
h5.text_number b {
  font-size: 24px;
}

.perfilMain{
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}
.fotoPerfil{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-top: 10px;
    border: 10px solid gray;
    border-bottom: 20px solid gray;
}
.foto{
    width: 100%;
    height: 100%;
}
.perfil_photo img{
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

.evento{
    height: 250px;
    background-color: white;
    padding: 150px 0 0 0;
    margin: 5px 0 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    text-align: center;
}
.contentpub{
    height: 100%;
    background: rgba(0,0,0,0.6);
    padding: 10px;
}
.evento span{
    color: black;
    font-size: 14px;
    text-shadow: none;
}
.evento *{
    color: white;
}
.evento .nick{
    color: #00994C;
    font-size: 12px;
    font-weight: 700;
    text-shadow: none;
    margin-left: 5px;
    
    display: none;
}
.evento h4 a, .evento h4 a{
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0px;
}
.evento span{
    color: black;
    font-size: 14px;
    text-shadow: none;
    font-weight: 900;
    margin: 0;
}
.usuariopub{
    margin-top: 10px;
}
.usuariopub a{
    font-size: 14px;
    font-weight: 900;
}

.evento1, .evento3, .evento5, .evento7, .evento9{
    background: url('../images/eventos/vlc.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.evento2, .evento4, .evento6, .evento8, .evento10{
    background: url('../images/eventos/vlc2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* PERFIL */

.perfilGoPlace *{
    color: black;
}
.cabeceraPerfil{
    max-height: 300px;
    overflow: hidden;
}
.cabeceraPerfil img{
    padding: 0;
}

.perfilgp, .comentariosgp, .eventosgp{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}
.comentariosgp, .eventosgp{
    margin-top: 15px;
    background: #ADE0BA;
    border: 1px solid #009688;
    border-radius: 1em;
}
.perfil_desc h1{
    font-size: 24px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding: 0;
}
.perfil_desc p{
    font-size: 16px;
}
.perfil_desc span.nick{
    font-size: 18px;
    font-weight: 900;
    padding: 3px;
    color: #009688;
}
.perfil_photo, .perfilgp, .perfilGoPlace h2{
    text-align: center;
}
.perfil_photo{
    /*top: -80px;*/
}
.boton_perfil a{
    width: 100%;
}


/* EVENTO */
#perfilEvento{
    background: white;
    padding: 30px;
}
#perfilEvento *{
    font-size: 16px;
}
#perfilEvento h2{
    font-size: 30px;
}
#perfilEvento h3{
    font-size: 18px;
    display: inline-block;
    border-bottom: 3px solid #024E31;
    padding-bottom: 10px;
    margin-bottom: -3px;
}
.title_h3_event{
    border-bottom: 3px solid #CCC;
    margin: 15px 0 30px 0;
}
.evento_info, .coments_form {
  padding: 0px;
}
#perfilEvento iframe{
    width: 100%;
}
.caracteristicas_evento, #botones_evento, .personas_evento {
    margin-bottom: 40px;
}

.user_event {
  padding: 0px 5px 5px 5px;
  width: 110px;
  height: 100px;
}
.user_event img {
  width: 100%;
  height: 100%;
}

#perfilEvento textarea.comentario_form_gp{
    resize: none;
    
}

#perfilEvento .comentarios {
    margin-top: 50px;
}
.coment {
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #DBDBDB;
    
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
.coment:hover{
    border: 3px solid #237C4C;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
    box-shadow: 3px 3px 5px 0px rgba(110,110,110,1);
    
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}
.coment .coment_photo{
    width: 130px;
}
.coment img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.coment .coment_desc {
    margin-top: 10px;
}
.coment_desc a {
    color: #237C4C;
}
.coment_desc a, .coment_desc span{
    font-weight: 900;
}
.coment_desc span.nick{
    color: #5F5267;
}



.comentario, .evento_perfil{
    border: 2px solid #ADE0BA;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin: 5px 0;
}
.comentario:hover, .evento_perfil:hover{
    border: 2px solid #009688;
}
.desc_comentario{
    padding-right: 0;
}
.comentario p.perfil_coment, .id_comentario{
    font-size: 16px;
    font-weight: 900;
}
.id_comentario, .evento_perfil h4, .evento_perfil h4 a{
    color: #009688;
}
.comentario a.event_coment, .evento_perfil span{
    font-size: 12px;
    font-weight: 900;
}
.comentario a.event_coment{
    float: right;
    
}
.foto_comentario{
   padding: 0; 
}
.fotoComent{
    width: 100%;
}

/* DESCUBRE */
.eventos_default{
    background: white;
    padding: 20px;
}


/* SUBIR IMAGEN */
.page_subir_imagen{
    text-align: center;
}
.file_subida{
    margin: 0 auto;
}

/* FOOTER */
footer{
    width: 100%;
    height: 14%;
    text-align: center;
    background-color: white;
    border-top: 5px solid #1A5A38;
}
.cr{
    letter-spacing: 0.05em;
    font-weight: 900;
    top: 100px;
}
.help{
    padding: 30px 10px 5px 10px;
    border-top: 5px solid #237C4C;
}

/* MODAL */
#modalGP .modal-open .modal{
    overflow-x: hidden;
    overflow-y: hidden;
}
#modalGP .modal-dialog{
    float: right;
    margin-top: 0;
    width: 500px;
}
#modalGP .modal-content{
    background-color: #135431;
}
#modalGP .modal-header{
    display: none;
}
#modalGP .modal-body h3{
    color: white;  
    font-size: 16px;
    border-bottom: 0px;
    padding-bottom: 10px;
}
#modalGP .modal-body h5 {
  color: white;
  font-size: 14px;
  text-transform: initial !important;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
}
#modalGP .modal-footer {
  padding: 12px;
  text-align: right;
  border-top: 2px solid #023522;
}
#modalGP button{
    background-color: #023522 !important;
    border: 1px solid #023522 !important;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}

#modalGP button:hover{
    color: #135431 !important;
    background-color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    transition:0.3s all ease-in;
    -webkit-transition:0.3s all ease-in;
    -moz-transition:0.3s all ease-in;
    -o-transition:0.3s all ease-in;
}

.panel-heading{
    background-color: #337ab7;
    border-color: #2e6da4; 
}
.panel-heading h1, .modal-header h1{
    color: #009688;
}

/* FORMULARIOS */
.form-group {
  margin-bottom: 10px !important;
}
.form_gp{
    margin-top: 40px;
    color: red;
    padding: 0 10px;
}
.form_gp input, .form_gp select, .form_gp textarea {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	color: #111;
	font-size: 14px;
        color: #232930;
        font-weight: 900;
}
.form_gp textarea{
	min-height: 100px !important;
}
.form_gp input#fsubmit {
	background: #0074A5;
	color: white;
}
.form_gp input#fsubmit:hover {
	color: white;
	background: #008ECA;
	border: 2px solid #00628B;
}
.form_gp #fsubmit, .form_gp #fsubmit:hover{
	transition:0.3s all ease-in;
	-webkit-transition:0.3s all ease-in;
	-moz-transition:0.3s all ease-in;
	-o-transition:0.3s all ease-in;
}

/* MEDIA QUERYS */
@media (min-width: 992px){
	
    .regizq, .regder{
        padding: 0 !important;
        padding-left: 5px !important;
    }
    
    .botonreg{
        float: right;
    }
}